# autocrlf
* text=auto

# Don't diff
package-lock.json text -diff
*.mix.js text -diff


# ignore github repo languages
*.js linguist-vendored
*.html linguist-vendored

# ignore github releases
.github/ export-ignore
.vscode/ export-ignore
docs/ export-ignore
src/ export-ignore
package-lock.json export-ignore
tsconfig.json export-ignore
webpack.config.js export-ignore
devnote.md export-ignore
