@charset "UTF-8";
/* color and hover and opacity */
.scrolltop{
	background-color: rgba(98, 138, 199, 1.0);
	opacity: 0.3;
}

.scrolltop:hover{
	background-color: rgba(103, 153, 232, 1.0);
	opacity: 0.7 !important;
}


/* normal size */
.scrolltop {
	height: 60px;
	width: 60px;
	bottom: 35px;
	right: 20px;
}
.scrolltop-arrow {
	padding: 10px;
	height: 60px;
}
.scrolltop-arrow:before, .scrolltop-arrow:after {
	top: 25px;
	height: 8px;
}


/* big size */
/*
.scrolltop {
	width: 70px;
	height: 70px;
	bottom: 35px;
	right: 20px;
}

.scrolltop-arrow {
	padding: 15px;
	height: 60px;
}

.scrolltop-arrow:before, .scrolltop-arrow:after {
	top: 30px;
	height: 8px;
}
*/

/* bigger size */
/*
.scrolltop{
	width: 80px;
	height: 80px;
	bottom: 75px;
	right: 40px;
}
.scrolltop-arrow {
	padding: 15px;
	height: 80px;
}
.scrolltop-arrow:before, .scrolltop-arrow:after{
	height: 10px;
	top: 33px;
}
*/

@media ( max-width : 992px) {
	/* small size */
	.scrolltop {
		height: 50px;
		width: 50px;
		bottom: 35px;
		right: 20px;
		opacity: 0.45;
	}
	.scrolltop-arrow {
		padding: 10px;
		height: 60px;
	}
	.scrolltop-arrow:before, .scrolltop-arrow:after {
		top: 20px;
		height: 8px;
	}
}

/* scrolltop-base */
.scrolltop {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: none;
	position: fixed;
	cursor: pointer;
	text-align: center;
	z-index: 9999;
}

.scrolltop-arrow {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 0;
	left: 0;
	top: 0;
}

.scrolltop-arrow:before {
	content: '';
	position: absolute;
	left: 0;
	width: 50%;
	background: white;
	-webkit-transform: skew(0deg, -45deg);
	-moz-transform: skew(0deg, -45deg);
	-ms-transform: skew(0deg, -45deg);
	-o-transform: skew(0deg, -45deg);
	transform: skew(0deg, -45deg);
}

.scrolltop-arrow:after {
	content: '';
	position: absolute;
	right: 0;
	width: 50%;
	background: white;
	-webkit-transform: skew(0deg, 45deg);
	-moz-transform: skew(0deg, 45deg);
	-ms-transform: skew(0deg, 45deg);
	-o-transform: skew(0deg, 45deg);
	transform: skew(0deg, 45deg);
}
/* //end. scrolltop-base */
